@{
    ViewBag.Title = "Create product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model aspnet2.Models.Product

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Title, "Title")
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.InStock, "InStock")
        @Html.EditorFor(model => model.InStock)
    </div>
    <div>
        @Html.LabelFor(m => m.SizeW, "SizeW")
        @Html.EditorFor(model => model.SizeW)
    </div>
    <div>
        @Html.LabelFor(m => m.SizeH, "SizeH")
        @Html.EditorFor(model => model.SizeH)
    </div>
    <div>
        @Html.LabelFor(m => m.Price, "Price")
        @Html.EditorFor(model => model.Price)
    </div>
    <div>
        @Html.LabelFor(m => m.MaterialId, "Material")
        @Html.DropDownListFor(model => model.MaterialId, ViewBag.Materials as SelectList)
    </div>
    <input type="submit" value="Create" />
}
