@model IEnumerable<aspnet2.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <tr>
        <th>Id</th>
        <th>User name</th>
        <th>User address</th>
        <th>User phone</th>
        <th>Sum UAH</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserInfo.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserInfo.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserInfo.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sum)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
</tr>
    }
</table>
